In [1]:
import pandas as pd
import json
from pandas.io.json import json_normalize

In [2]:
json_path = 'Data/nyca_station_details_plus_mappings/all_nyca_station_details.json'

In [3]:
json_df = pd.read_json(json_path).T

In [4]:
json_df.head()

,accessible_note,bus_info,elevator_count_words,escalator_count_words,has_machines,id,is_accessible,lines,machines,name,outages,updated_at
1,None,M5 (northbound),3 Elevators,2 Escalators,True,1,True,"[B, D, F, M, A, C, E]",[{'return_date_display': 'about 2 hours (04/01...,W 4th St - Washington Sq,1 Outage,Updated 1 minute ago
10,None,"Bus connections:Bx5, Bx6, Bx19",3 Elevators,None,True,10,True,"[6, 6e]","[{'return_date_display': False, 'lines': ['6']...",Hunts Point Ave,None,Updated less than a minute ago
100,None,None,None,None,False,100,False,[G],[],21st St,None,Updated 9 minutes ago
101,None,None,None,None,False,101,False,"[N, Q]",[],39th Ave,None,Updated 9 minutes ago
102,None,None,None,None,False,102,False,"[N, Q]",[],36th Ave,None,Updated 9 minutes ago

In [5]:
# keep only accessible stations
accessible_df = json_df[json_df['is_accessible'] == True].copy()

In [6]:
accessible_df.shape

(86, 12)

In [7]:
accessible_df.head()

,accessible_note,bus_info,elevator_count_words,escalator_count_words,has_machines,id,is_accessible,lines,machines,name,outages,updated_at
1,None,M5 (northbound),3 Elevators,2 Escalators,True,1,True,"[B, D, F, M, A, C, E]",[{'return_date_display': 'about 2 hours (04/01...,W 4th St - Washington Sq,1 Outage,Updated 1 minute ago
10,None,"Bus connections:Bx5, Bx6, Bx19",3 Elevators,None,True,10,True,"[6, 6e]","[{'return_date_display': False, 'lines': ['6']...",Hunts Point Ave,None,Updated less than a minute ago
105,None,"M96, M104, M106",2 Elevators,None,True,105,True,"[1, 2, 3]","[{'return_date_display': False, 'lines': ['1',...",96th St,None,Updated 10 minutes ago
110,None,"M5, M7 (northbound), M11 (northbound), M57, M7...",2 Elevators,None,True,110,True,"[1, 2, 3]","[{'return_date_display': False, 'lines': ['1',...",72nd St,None,Updated 9 minutes ago
114,None,"Q10 (Q10 goes to JFK Airport), Q37, Q46, Q60, ...",3 Elevators,None,True,114,True,"[E, F]","[{'return_date_display': False, 'lines': ['E',...",Kew Gardens - Union Tpke,None,Updated less than a minute ago

In [8]:
accessible_list = []
for i in range(accessible_df.shape[0]): 
    row = accessible_df.iloc[i]
    nyca_id = row['id']
    name = row['name']
    for item in row['machines']: 
        location = item['location']
        serving = item['serving']
        accessible_list.append([nyca_id, name, location, serving])

In [9]:
df = pd.DataFrame(accessible_list, columns = ['nyca_id', 'name', 'location', 'serving'])
df.head()

,nyca_id,name,location,serving
0,1,W 4th St - Washington Sq,None,Northbound Ll Platform To Northbound Ul Platform
1,1,W 4th St - Washington Sq,NE corner of West 3rd Street and Sixth Avenue,Street To Mezzanine
2,1,W 4th St - Washington Sq,None,Middle Mezzanine To Uptown Platforms
3,1,W 4th St - Washington Sq,None,Middle Mezzanine To Downtown Platforms
4,1,W 4th St - Washington Sq,None,Southbound Ll Platform To Southbound Ul Platform

In [10]:
df.to_csv('nyca_id.csv', index = False)

In [11]:
# show '125th St' data to test the merge result later
df[df['name'] == '125th St']

,nyca_id,name,location,serving
246,400,125th St,SW corner of 125 Street and Saint Nicholas Avenue,Street To Mezzanine
247,400,125th St,None,Mezzanine And Downtown
248,400,125th St,None,Mezzanine And Uptown
360,469,125th St,NE corner of 125th Street and Lexington Avenue,Street To Mezzanine
361,469,125th St,None,Mezzanine To Uptown And Downtown Platforms