In [1]:
import pandas as pd
import json
from pandas.io.json import json_normalize

In [2]:
json_path = 'Data/nyca_station_details_plus_mappings/all_nyca_station_details.json'

In [3]:
json_df = pd.read_json(json_path).T

In [4]:
json_df.head()

,accessible_note,bus_info,elevator_count_words,escalator_count_words,has_machines,id,is_accessible,lines,machines,name,outages,updated_at
1,None,M5 (northbound),3 Elevators,2 Escalators,True,1,True,"[B, D, F, M, A, C, E]","[{'location': None, 'image': 'ES_out.png', 'ou...",W 4th St - Washington Sq,1 Outage,Updated 1 minute ago
10,None,"Bus connections:Bx5, Bx6, Bx19",3 Elevators,None,True,10,True,"[6, 6e]",[{'location': 'Hunts Point Avenue between Bruc...,Hunts Point Ave,None,Updated less than a minute ago
100,None,None,None,None,False,100,False,[G],[],21st St,None,Updated 9 minutes ago
101,None,None,None,None,False,101,False,"[N, Q]",[],39th Ave,None,Updated 9 minutes ago
102,None,None,None,None,False,102,False,"[N, Q]",[],36th Ave,None,Updated 9 minutes ago

In [5]:
# keep only accessible stations
accessible_df = json_df[json_df['is_accessible'] == True].copy()

In [6]:
accessible_df.shape

(86, 12)

In [7]:
accessible_df.head()

,accessible_note,bus_info,elevator_count_words,escalator_count_words,has_machines,id,is_accessible,lines,machines,name,outages,updated_at
1,None,M5 (northbound),3 Elevators,2 Escalators,True,1,True,"[B, D, F, M, A, C, E]","[{'location': None, 'image': 'ES_out.png', 'ou...",W 4th St - Washington Sq,1 Outage,Updated 1 minute ago
10,None,"Bus connections:Bx5, Bx6, Bx19",3 Elevators,None,True,10,True,"[6, 6e]",[{'location': 'Hunts Point Avenue between Bruc...,Hunts Point Ave,None,Updated less than a minute ago
105,None,"M96, M104, M106",2 Elevators,None,True,105,True,"[1, 2, 3]",[{'location': 'Either south side of 96th Stree...,96th St,None,Updated 10 minutes ago
110,None,"M5, M7 (northbound), M11 (northbound), M57, M7...",2 Elevators,None,True,110,True,"[1, 2, 3]",[{'location': 'North side of 72nd Street betwe...,72nd St,None,Updated 9 minutes ago
114,None,"Q10 (Q10 goes to JFK Airport), Q37, Q46, Q60, ...",3 Elevators,None,True,114,True,"[E, F]",[{'location': 'SE corner of Union Turnpike and...,Kew Gardens - Union Tpke,None,Updated less than a minute ago

In [8]:
# if None make it as 0 Elevator
accessible_df.loc[accessible_df['elevator_count_words'].isnull(), 'elevator_count_words'] = '0 Elevators'

In [9]:
# Take just elevator # and id
accessible_df = accessible_df[['id', 'elevator_count_words']]
accessible_df.head()

      id elevator_count_words
1      1          3 Elevators
10    10          3 Elevators
105  105          2 Elevators
110  110          2 Elevators
114  114          3 Elevators

In [10]:
accessible_df['elevator_count_words'].value_counts(dropna = False)

3 Elevators     29
2 Elevators     27
5 Elevators      7
4 Elevators      6
0 Elevators      6
1 Elevator       6
19 Elevators     2
7 Elevators      2
10 Elevators     1
Name: elevator_count_words, dtype: int64

In [11]:
# take number only
accessible_df['num_elevator'] = accessible_df['elevator_count_words'].apply(lambda x: x.split()[0])
accessible_df.head()

      id elevator_count_words num_elevator
1      1          3 Elevators            3
10    10          3 Elevators            3
105  105          2 Elevators            2
110  110          2 Elevators            2
114  114          3 Elevators            3

In [12]:
accessible_df = accessible_df[['id', 'num_elevator']]

In [13]:
accessible_df.to_csv('num_elevator.csv', index = False)